* {
  padding: 0;
  margin: 0;
}

.container {
}

.container-navbar {
  background-color: wheat;
  width: 100%;
  height: 10vh;
}

.ul-nav {
  display: flex;
  height: 70px;
  justify-content: center;
  align-items: center;
}

.li-nav {
  list-style-type: none;
  align-items: center;
  padding: 15px;
  margin: 90px;
  color: black;
  font-size: 20px;
}

.li-nav:hover {
  background-color: white;
  transition: 0.4s ease-in-out;
  transition-delay: 0.1s;
  border-radius: 7px;
}

.a-navbar {
  text-decoration: none;
  color: black;
  font-weight: 800;
}

.container-content {
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.a-content {
  /* background-color: white; */
  color: white;
  text-decoration: none;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 420px;
  height: 250px;
  cursor: default;
}

.container-img {
  width: 45%;
  height: 75%;
}

.button-2 {
  position: relative;
  padding: 12px 30px;
  border: none;
  background: rgb(243, 232, 109);
  border-radius: 7px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}

.button-2:hover {
  background-color: black;
  transition: 0.4s ease-in-out;
  transition-delay: 0.1s;
}

.bio{
  background-color: black;
  color: #fff;
  height: 90px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-footer {
  background-color: rgb(228, 220, 135);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.footerh1 {
  font-size: 40px;
}
